@media screen and (max-width : 325px) {

	.container{
		width: 100%;
		max-width: 320px;
		margin: 0 auto;
	}

	.menu-logo {
		padding-left: 110px;
	}

	.menu-main {
		padding-left: 300px;
	}

	.site-banner__img img {
		width: 576px;
		display: block;
		z-index: 0;
		padding-left: 321px;
	}

	.content-dark {
		display: none;
	}

	.usp-list {
		padding-left: 440px;
	}
	
	.spasing-small{
		padding-left: 50px;
		background-color: #373f48;
	}

	/* .spacing-small .container{
		background-color: #373f48;
	} */

}
